<!-- Fonts Family Link  (Mandatory in All Pages) -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<!-- Icons css  (Mandatory in All Pages) -->
<link href="assets/css/icons.min.css" rel="stylesheet" type="text/css">

<!-- App css  (Mandatory in All Pages) -->
<link href="assets/css/app.min.css" rel="stylesheet" type="text/css">